/installers
/~$cuda-toshiba-2021.pptx
/samples/05-matrixMul/x64/Debug/matrixMul.Build.CppClean.log
/samples/05-matrixMul/x64/Debug/matrixMul.cu.cache
/samples/05-matrixMul/x64/Debug/matrixMul.cu.obj
/samples/05-matrixMul/x64/Debug/matrixMul.cu233542304.deps
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/CudaCompile.read.1u.tlog
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/CudaCompile.write.1u.tlog
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/link.command.1.tlog
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/link.read.1.tlog
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/link.write.1.tlog
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/matrixMul.lastbuildstate
/samples/05-matrixMul/x64/Debug/matrixMul.tlog/matrixMul.write.1u.tlog
/samples/05-matrixMul/x64/Debug/matrixMul_vs2019.log
/samples/05-matrixMul/x64/Debug/matrixMul_vs2019.vcxproj.FileListAbsolute.txt
/samples/05-matrixMul/x64/Debug/vc142.pdb
/samples/05-matrixMul/x64/Release/matrixMul.Build.CppClean.log
/samples/05-matrixMul/x64/Release/matrixMul.cu.cache
/samples/05-matrixMul/x64/Release/matrixMul.cu.obj
/samples/05-matrixMul/x64/Release/matrixMul.cu233542304.deps
/samples/05-matrixMul/x64/Release/matrixMul.tlog/CudaCompile.read.1u.tlog
/samples/05-matrixMul/x64/Release/matrixMul.tlog/CudaCompile.write.1u.tlog
/samples/05-matrixMul/x64/Release/matrixMul.tlog/link.command.1.tlog
/samples/05-matrixMul/x64/Release/matrixMul.tlog/link.read.1.tlog
/samples/05-matrixMul/x64/Release/matrixMul.tlog/link.write.1.tlog
/samples/05-matrixMul/x64/Release/matrixMul.tlog/matrixMul.lastbuildstate
/samples/05-matrixMul/x64/Release/matrixMul.tlog/matrixMul.write.1u.tlog
/samples/05-matrixMul/x64/Release/matrixMul_vs2019.log
/samples/05-matrixMul/x64/Release/matrixMul_vs2019.vcxproj.FileListAbsolute.txt
/cuda-toshiba-2021.pptx
/docs/nvidia-courseware/streams/streams_cipher
/samples/10-simple-streams/.vs/vectorAdd_vs2019/v16/*.suo
/docs/nvidia-courseware/streams/03-cipher-overview-01.mp4
/docs/nvidia-courseware/streams/04-nsight-overview-01.mp4
/docs/nvidia-courseware/streams/05-cuda-streams-01.mp4
/docs/nvidia-courseware/streams/06-kernels-streams-01.mp4
/docs/nvidia-courseware/streams/07-memcpy-streams-01.mp4
/docs/nvidia-courseware/streams/08-cc-considerations-01.mp4
/docs/nvidia-courseware/streams/09-copy-compute-overlap-01.mp4
/samples/10-simple-streams/*.user
/samples/11-data-init-in-streams/.vs/vectorAdd_vs2019/v16/*.suo
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/e53b9123c64837fc/*.ipch
/samples/10-simple-streams/.vs/vectorAdd_vs2019/v16/Browse.VC.db
/samples/10-simple-streams/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/5430379042f007f0/VECTORADD.ipch
/samples/10-simple-streams/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/e53b9123c64837fc/VECTORADD.ipch
/samples/11-data-init-in-streams/.vs/vectorAdd_vs2019/v16/Browse.VC.db
/samples/11-data-init-in-streams/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/5430379042f007f0/VECTORADD.ipch
/samples/11-data-init-in-streams/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/5c841725b825aff0/VECTORADD.ipch
/samples/11-data-init-in-streams/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/e53b9123c64837fc/VECTORADD.ipch
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/.suo
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/Browse.VC.db
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/5430379042f007f0/VECTORADD.ipch
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/5c841725b825aff0/VECTORADD.ipch
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/ba300051e6d01696/VECTORADD.ipch
/samples/12-stream-overlapped-transfer/.vs/vectorAdd_vs2019/v16/ipch/AutoPCH/e13aab9249e83e74/VECTORADD.ipch
/docs/ignore/Knap-Czarnul2019_Article_PerformanceEvaluationOfUnified.pdf
/docs/ignore/s7622-Kyrylo-perelygin-robust-and-scalable-cuda.pdf
/docs/nvidia-courseware/cudaMemPrefetchAsync/01-vector-add-no-prefetch.cu
/docs/nvidia-courseware/cudaMemPrefetchAsync/02-vector-add-prefetch-gpu.cu
/docs/nvidia-courseware/cudaMemPrefetchAsync/03-init-kernel.cu
/docs/nvidia-courseware/cudaMemPrefetchAsync/04-prefetch-back-from-host.cu
/docs/nvidia-courseware/nbody-assessment/01-nbody.cu
